:root {
    --primary-color: #F9F7FE;
    --secondary-color: #272142;
    --button-color: #6C63FF;
    --head-font: 'Playfair Display', serif;
    --text-font: 'Poppins', sans-serif;
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

.hero {
    background-color: var(--primary-color);
    text-align: center;
    padding: 160px 20px;
}

.section {
    padding: 160px 20px;
}

.section h3 {
    font-size: 24px;
    line-height: 1;
    font-family: var(--text-font);
}

.section p {
    font-size: 14px;
    font-family: var(--text-font);
}

.logo {
    max-height: 40px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
    color: var(--button-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--head-font);
    font-weight: 700;
    color: black;
    padding: 10px;
}

p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400px;
    margin: 0;
    line-height: 30px;
    color: var(--secondary-color);
}

h2 {
    font-size: 64px;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h4 {
    font-size: 48px;
}

.hero h2 {
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    color: var(--secondary-color);

}

.section h1 {
    font-size: 64px;
    line-height: 80px;
}

.section h2 {
    font-size: 18px;
    font-family: var(--text-font);
}


.section-content {
    margin: 30px;
}

.btn-brending {
    color: white;
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    background: var(--button-color);
    border-radius: 4px;
    padding: 18px 30px;
}

.btn-brending-apps {
    color: var(--button-color);
    border: 1px solid var(--button-color);
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    background: white;
    border-radius: 4px;
    padding: 18px 30px;
}

footer {
    margin: 60px 0;
}

footer .cosial-links a {
    margin: 0 20px;
    color: var(--button-color);
    background-color: var(--primary-color);
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .cosial-links a:hover {
    color: white;
    background: var(--button-color);

}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    transition: all 100ms ease-in-out; 
}

footer .email-link:hover {
    color: var(--button-color);
}

footer .contact-box {
    border-radius: 10px;
    background: var(--primary-color); 
    padding: 30px 120px;
}

footer .contact-box p {
    margin: 0;
}

@media (max-width: 960px) {

    .hero {
        padding: 80px 10px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .project-description h2 {
        font-size: 42px;
    }

    .project-description {
        padding: 0;
         text-align: center;
        
    }
        
    .section {
        padding: 0;
        text-align: center;
    }

    nav a {
        font-size: 12px;
    }
       
}
