:root {
    --primary-color: #F9F7FE;
    --secondary-color: #272142;
    --button-color: #6C63FF;
    --head-font: 'Playfair Display', serif;
    --text-font: 'Poppins', sans-serif;
}

.hero {
    background-color: var(--primary-color);
    text-align: center;
    padding: 160px 20px;
}

.about-section {
    padding: 160px 20px;
}

@media (max-width: 960px) {

    .hero {
        padding: 80px 10px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .project-description h2 {
        font-size: 42px;
    }

    .project-description {
        padding: 0;
         text-align: center;
        
    }
        
    .about-section {
        padding: 0;
        text-align: center;
    }
}
/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--head-font);
    font-weight: 700;
    color: black;
    padding: 10px;
}

p {
font-family: var(--text-font);
font-size: 16px;
font-weight: 400px;
margin: 0;
line-height: 30px;
color: var(--secondary-color);
}

h2 {
    font-size: 64px;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    color: var(--secondary-color);
    
}

.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--text-font);
}


.about-section-content {
    margin: 30px;
}

.btn-brending{
    color: white;
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    background: var(--button-color);
    border-radius: 4px;
    padding: 18px 30px;
}

.btn-brending-apps {
    color: var(--button-color);
    border: 1px solid var(--button-color);
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    background: white;
    border-radius: 4px;
    padding: 18px 30px;
}